* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn a {
  font-size: 20px;
  padding: 5px 10px;
  color:black;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  border: 1px solid rgb(3, 4, 80);
  position: relative;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px rgb(92, 164, 231);
} 

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(73, 43, 206, 0.479),
    transparent
  );
  transition: all 650ms;
} 

.btn:hover:before {
  left: 100%;
}
